@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    @apply font-medium;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .form-control {
    @apply p-2 w-full bg-white text-md border border-b-4 border-r-4 border-black rounded-md text-primary appearance-none ring-0 focus:ring-0 outline-none focus:border-primary;
    height: 45px;
  }

  input[type="radio"] + label span {
    transition: background 0.2s, transform 0.2s;
  }

  input[type="radio"] + label span:hover,
  input[type="radio"] + label:hover span {
    transform: scale(1.2);
  }

  input[type="radio"]:checked + label span {
    @apply bg-primary;
    box-shadow: 0px 0px 0px 2px white inset;
  }

  input[type="radio"]:checked + label {
    @apply !text-secondary;
  }
}

.ReactModal__Overlay {
  background: rgb(0 0 0 / 75%) !important;
}

.hero-img {
  width: 100%;
}

.hero-img > span {
  position: unset !important;
}

.hero-img .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
select:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:active {
  transition: "color 9999s ease-out, background-color 9999s ease-out";
  transition-delay: 9999s;
  color: #55586f;
  -webkit-text-fill-color: #664ff0;
}

input.input-with-label:not(:placeholder-shown),
input.material:not(:placeholder-shown),
textarea.material:not(:placeholder-shown) {
  background-color: #232835;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vertical-row {
  display: flex;
  flex-direction: column;
}

.vertical-row .fill-parent {
  flex: 1;
}

.ticket {
  position: relative;
  background-color: white;
  height: 7em;
  width: 20em;
  border-radius: 0.5em;
}

.brand-icon {
  position: absolute;
  left: -1.25em;
  top: 2em;
}

.brand-icon::before {
  content: "";
  position: absolute;
  left: -0.9em;
  top: -1em;
  background-color: white;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  box-shadow: 3px 2px 0px #ddd;
}

.separator {
  position: absolute;
  top: -0.5em;
  right: 5.5em;
  height: calc(100% + 1em);
  width: 1.5em;
}

.separator::before {
  content: "";
  position: absolute;
  top: 1em;
  left: 0.5em;
  height: calc(100% - 2em);
  border-left: 1px dashed;
  border-color: #fff;
}

.round-cut-out {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #7b3fe4;
}

.adjust-right-cut-out {
  float: right;
  margin-top: 3em;
  margin-right: -0.5em;
}

.brand-name {
  font-size: 1.75rem;
  position: relative;
  top: 1.4em;
  left: 2.5em;
  color: #fff;
}

.heading {
  position: absolute;
  left: 3em;
  top: 1em;
}

.subheading {
  position: absolute;
  left: 8em;
  bottom: 1em;
  color: #fff;
  font-size: 0.4rem;
  text-transform: capitalize;
}

.booking-ticket {
  position: absolute;
  top: 1em;
  right: 7.75em;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
}

.booking-ticket .month {
  font-size: 0.6rem;
}

.barcode-container {
  position: absolute;
  right: 2.5em;
  transform: rotate(-90deg);
}

.barcode-container img {
  width: 4em;
}

.ticket-count {
  position: absolute;
  top: 5.5em;
  right: 1.5em;
  font-size: 0.6rem;
  color: #fff;
  transform: rotate(-90deg);
  font-weight: bold;
}
